.branding-title {
    font-family: Lato;
    font-weight: bold;
    font-size: 28px;
    color: #333333;
    margin-top: 20px;
}

.branding-logo {
    margin-top: 32px;
    margin-bottom: 32px;
}

.branding-text {
    font-family: Lato;
    font-weight: normal;
    font-size: 14px;
    color: #333333
}
