[
    {
        "id": "00112233",
        "facility": "Example facility A",
        "locality": "Bogotá",
        "region": "DC",
        "country": "Colombia"
    },
    {
        "id": "other_facility",
        "facility": "Other Facility",
        "street": "123 Easy Street",
        "locality": "San Jose",
        "region": "CA",
        "country": "USA"
    },
    {
        "id": "18a9e72bc",
        "facility": "Yet another Facility",
        "locality": "San José",
        "region": "San José",
        "country": "Costa Rica"
    },
    {
        "facility": "Facility with no ID or country",
        "locality": "Manaus",
        "region": "Amazonas"
    },
    {
        "facility": "Only facility, street address, locality",
        "street": "456 Main Street",
        "locality": "Boston"
    }
]
