.question {
    font-family: Lato;
    font-weight: bold;
    font-size: 28px;
    color: #333333;
}

.demo-modal > .layout {
    margin: 10px 20px 10px 20px;
}

.demo-modal button {
    margin-top: 20px;
}
